extends layout

block content
  .container
    .row
      .col-sm-5
        h2 Sign up
        
        if error
          .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong #{error}
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;

        form.sign-form.mx-auto(action="/users/sign-up", method="post")
          .form-group
            label(name='name') Name
            input.form-control(type="text", name='name', id='name', required)
          .form-group
            label(name='username') Username
            input.form-control(type="text", name='username', id='username', required)
          .form-group
            label(name='password') Password
            input.form-control(type="password", name='password', id='password', required)
          .form-group
            label(name='password2') Confirm password
            input.form-control(type="password", name='password2', id='password2', required)
          button.btn.btn-primary(type="submit") Sign Up
        br
        ul.nav.nav-pills.flex-row
          li.nav-item
            a.nav-link(href='/login') Already have an account?
        hr.d-sm-none