extends layout

block content
  if error
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      strong #{error}
      button.close(type='button' data-dismiss='alert' aria-label='Close')
        span(aria-hidden='true') &times;
  form.sign-up-form.mx-auto(action="/sign-up", method="post")
    .form-group
      label(name='name') Name:
      input.form-control(type="text", name='name', id='name')
    .form-group
      label(name='username') Username:
      input.form-control(type="text", name='username', id='username')
    .form-group
      label(name='password') Password:
      input.form-control(type="password", name='password', id='password')
    .form-group
      label(name='password2') Confirm password:
      input.form-control(type="password", name='password2', id='password2')
    .text-center
      button.btn.btn-primary(type="submit") Sign Up